.apelo{
    margin-top: 4em ;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.resposta{
    width: 100%;
    text-align: center;
}

.foraDaCurva{
    text-align: center;
}
.pergunta{
    font-size: 40px;
    margin-bottom: 1em;
    color: #222;
    text-align: center;
}

.apelo div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apelo p{
    font-size: 40px;
    color:#222;
    width: 80%;
    font-weight: bold;
   
}

.button{
    display: flex;
    margin: 2em 0;
    width: 500px;
    height: 100px;
    border-radius:70px ;
    font-size: 30px;
    background-color: pink;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    
}

.button:hover{
    background-color:rgb(248, 99, 123);
    color: pink;

}

.apelo a{
    text-decoration: none;
}

.button svg{
    padding: 0.2em;
}

.venhaFazerParte{
    width: 100%;
}

@media(max-width:1251px){
    .apelo p{
        font-size: 30px;
    }
    .apelo h3{
        font-size: 30px;
    }
}

@media(max-width:939px){
    .apelo p{
        font-size: 25px;
    }
    .apelo h3{
        font-size: 25px;
    }
}

@media (max-width:575px){
    .apelo p{
        font-size: 20px;
    }
    .apelo h3{
        font-size: 20px;
    }
}

@media(max-width:371px){
    .apelo p{
        font-size: 14px;
    }
    .apelo h3{
        font-size: 14px;
    }
}



