.funcionamento h2{
    font-size: 50px;
    margin: 1.5em 0;
    text-align: center;
    color:#222;
}

.listaFuncionamento{
    margin-left: 2%;
}

.listaFuncionamento li{
    font-size: 40px;
    font-size: #222;

}

@media(max-width:892px){

    .listaFuncionamento li{
        font-size: 30px;
    }

    .funcionamento h2{
        font-size: 40px;
    }

}

@media(max-width:633px){

  

    .listaFuncionamento li{
        font-size: 25px;
    }

}

@media(max-width:560px){


    .listaFuncionamento li{
        font-size: 20px;   
    }

}

@media(max-width:510px){
    .funcionamento h2{
        font-size: 30px;
    }
}

@media(max-width:380px){

    .listaFuncionamento li{
        font-size: 15px;   
    }

}

@media(max-width:366px){
    .funcionamento h2{
        font-size: 25px;
    }
}

@media(max-width:310px){
    .funcionamento h2{
        font-size: 22px;
    }

}

